[ALLGEMEIN]
DEBUG=True
LOCKFILE=gpio.status
STATUS_AUF=AUF
STATUS_WIRD_GEOEFFNET=WIRD_GEOEFFNET
STATUS_ZU=ZU

[GPIO_BELEGUNG]
GPIO_OUT_HAUPTWASSER=6
GPIO_OUT_KUECHE_PAVILLION=13
GPIO_OUT_GARAGE=19
GPIO_OUT_BEET_EINGANG=26
GPIO_IN_HAUPTSCHALTER=5

[ZEITSTEUERUNG]
MAX_LAUFZEIT_PUFFER=60
SECONDS_SCHALTHYSTERESE=10
SECONDS_KUECHE_PAVILLION=120
SECONDS_GARAGE=120
SECONDS_BEET_EINGANG=100